.form {
/*  text-align:center;
*/}

.addTodoInput {
  height: 38px;
  width: 222px;
  border-radius: 33px;
  outline: none;
/*  border: 1px solid lightgrey;
*/  padding-left: 40px;
  text-align:center;
  border:none;
}

.submitButton {
  visibility: hidden;
}

.todoItem {
/*  border-bottom: 1px solid lightgrey;
*/  font-size:13px;
  font-weight: lighter
}

.todoText {
  text-align:left;
}
.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 31px;
}

.x {
  display: flex;
  flex-direction: column;
}

.deleteButton {
  border:none;
  outline:none;
}

.header {
  font-weight:normal;
}

#root {
  display: flex;
  justify-content: center;
}
