.addTodoInput {
  height: 38px;
  width: 222px;
  border-radius: 33px;
  outline: none;
  text-align:center;
  border:none;
}

.todoItem {
  font-size:13px;
  font-weight: lighter
}

.App {
  border: 1px solid lightgrey;
  border-radius: 17px;
}

.todoText {
  text-align:left;
}
.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 31px;
}

.deleteButton {
  border:none;
  outline:none;
}

.header {
  font-weight:normal;
}

#root {
  display: flex;
  justify-content: center;
}
